//
//  Secrets.xcconfig
//  ChuLoop
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

NAVER_URL_SCHEMA = com.develop.chuloop
NAVER_CLIENT_ID = hGqAHHJS3_gwygOC14vE
NAVER_CLIENT_SECRET = mn0sY7eU2d

GOOGLE_CLIENT_ID = 53696370484-b4qqne9a9n46fuc0k09b8c71qumfi0cu.apps.googleusercontent.com
GOOGLE_URL_SCHEMA = com.googleusercontent.apps.53696370484-b4qqne9a9n46fuc0k09b8c71qumfi0cu
