//
//  Secrets.xcconfig
//  ChuLoop
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

NAVER_URL_SCHEMA = com.develop.chuloop
NAVER_CLIENT_ID = hGqAHHJS3_gwygOC14vE
NAVER_CLIENT_SECRET = mn0sY7eU2d

GOOGLE_CLIENT_ID = 53696370484-52s9sgdi69de8sn00rk5kf7uj6n1bc9b.apps.googleusercontent.com
GOOGLE_URL_SCHEMA = com.googleusercontent.apps.53696370484-52s9sgdi69de8sn00rk5kf7uj6n1bc9b
